In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['station', 'measurement']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

In [9]:
inspector = inspect(engine)
measurement_columns = inspector.get_columns('measurement')
for col in measurement_columns: 
    print(col['name'])

id
station
date
prcp
tobs

# Exploratory Precipitation Analysis

In [10]:
# Find the most recent date in the data set.
most_recent_date_result = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
most_recent_date_result

('2017-08-23',)

In [30]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
most_recent_date_str = most_recent_date_result[0]
most_recent_date = dt.datetime.strptime(most_recent_date_str, "%Y-%m-%d").date()


# Calculate the date one year from the last date in data set.
begining_date = most_recent_date - dt.timedelta(days=365)
print(begining_date)

# Perform a query to retrieve the data and precipitation scores
precipitation_query = session.query(Measurement.prcp, Measurement.date)\
.filter(Measurement.date >= begining_date).filter(Measurement.date <= most_recent_date).limit(10).all()

# Save the query results as a Pandas DataFrame. Explicitly set the column names
precipitation_df = pd.DataFrame(precipitation_query)
precipitation_df

# Sort the dataframe by date
precipitation_df.sort

# Use Pandas Plotting with Matplotlib to plot the data

2016-08-23

   prcp        date
0  0.00  2016-08-23
1  0.08  2016-08-24
2  0.08  2016-08-25
3  0.00  2016-08-26
4  0.00  2016-08-27
5  0.01  2016-08-28
6  0.00  2016-08-29
7  0.00  2016-08-30
8  0.13  2016-08-31
9  0.00  2016-09-01

In [16]:
# Use Pandas to calculate the summary statistics for the precipitation data

2016-08-23

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close Session

In [ ]:
# Close Session
session.close()